head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet', href='./style.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
header
  article.navbar
    nav
      a.link
      a.link
      a.link
  article
    button.btn Купить меч
main
  article.first-block
    section.swordcard
      h1.title Мечи
      p.text-first-block Очень большие мечи
  article.product-list
    section.product-item
      article.product-item-content
        h2.title-product Двуручный меч
        img(src='Двуручный_меч_(Dark_Souls_III).png', alt="0").img-product
        p.text-ptoduct Он очень большой
    section.product-item
      article.product-item-content
        h2.title-product Кинжал
        img(src='кинжал.png', alt="0").img-product
        p.text-ptoduct Это очень маленький
    section.product-item
      article.product-item-content
        h2.title-product Двуручный меч
        img(src='Цвайхендер.png', alt="0").img-product
        p.text-ptoduct Это обычный меч
   section.product-item
      article.product-item-content
        h2.title-product Двуручный меч
        img(src='Двуручный_меч_(Dark_Souls_III).png', alt="0").img-product
        p.text-ptoduct Он очень большой
    section.product-item
      article.product-item-content
        h2.title-product Кинжал
        img(src='кинжал.png', alt="0").img-product
        p.text-ptoduct Это очень маленький
    section.product-item
      article.product-item-content
        h2.title-product Двуручный меч
        img(src='Цвайхендер.png', alt="0").img-product
        p.text-ptoduct Это обычный меч